@using becore.Components.ContentPreviewCard

@page "/main"
<Div Background="Background.Primary" Padding="Padding.Is4" Border="Border.Rounded">
    <Div>
        <Carousel ShowIndicators="false" @bind-SelectedSlide="@selectedSlide" Shadow="Shadow.Large">
            <Blazorise.Bulma.Components.CarouselSlide Name="1">
                <Image Source="img\jpg\bord.jpg" Text="Lights image"></Image>
            </Blazorise.Bulma.Components.CarouselSlide>
            <Blazorise.Bulma.Components.CarouselSlide Name="2">
                <Image Source="img\jpg\bord.jpg" Text="Lights image"></Image>
            </Blazorise.Bulma.Components.CarouselSlide>
        </Carousel>
    </Div>

</Div>
<Jumbotron Background="Background.Secondary">
    <JumbotronTitle>
        <Div Flex="Flex.JustifyContent.Between">
            <Text> Лучшие модификации</Text>

            <Div>
                <Button Color="Color.Primary">&lt;</Button>
                <Button Color="Color.Primary">&gt;</Button>
            </Div>
        </Div>
    </JumbotronTitle>

    <CardDeck Style="padding-left:8em; padding-right:8em;">
        <ContentPreviewCard Title="Header" Author="Author" Description="Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст" Tags="@tags" ImageUrl="img\jpg\world.jpg"></ContentPreviewCard>
        <ContentPreviewCard Title="Header" Author="Author" Description="Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст" Tags="@tags" ImageUrl="img\jpg\world.jpg"></ContentPreviewCard>
        <ContentPreviewCard Title="Header" Author="Author" Description="Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст" Tags="@tags" ImageUrl="img\jpg\world.jpg"></ContentPreviewCard>

    </CardDeck>
</Jumbotron>
<Jumbotron Background="Background.Secondary">
    <JumbotronTitle>
        <Div Flex="Flex.JustifyContent.Between">
            <Text> Лучшие Миры</Text>

            <Div>
                <Button Color="Color.Primary">&lt;</Button>
                <Button Color="Color.Primary">&gt;</Button>
            </Div>
        </Div>
    </JumbotronTitle>

    <CardDeck Style="padding-left:8em; padding-right:8em;">
        <ContentPreviewCard Title="Header" Author="Author" Description="Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст" Tags="@tags" ImageUrl="img\jpg\world.jpg"></ContentPreviewCard>
        <ContentPreviewCard Title="Header" Author="Author" Description="Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст" Tags="@tags" ImageUrl="img\jpg\world.jpg"></ContentPreviewCard>
        <ContentPreviewCard Title="Header" Author="Author" Description="Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Тестовое описание модификации на игру майнкрафт. Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст" Tags="@tags" ImageUrl="img\jpg\world.jpg"></ContentPreviewCard>
    </CardDeck>
</Jumbotron>

@code {
    private string selectedSlide = "1";
    private List<string> tags = new() { "tag1", "tag2", "tag3", "tag4", "tag5", "tag6", "tag,7", "tag8" };
}
